@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #222222;
  background: #222222;
}

.scanline-container {
  position: relative;
  overflow: hidden;
}

.scanline-container::before {
  content: "";
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 125%;
  height: 250%;
  background: url('../assets/scanlines.png') repeat;
  animation: scanlines 20s linear infinite;
  pointer-events: none;
  opacity: 0.5;
}

@keyframes scanlines {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

.cursor-blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
      opacity: 0;
  }
}